.note {
  background: #e0f7f4;
  padding: 40px;
  padding-left: calc(2rem - 5px);
  padding-right: 2rem;
  border-left: solid 5px var(--green);
  font-size: 0.9em;
  font-weight: 500;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .note {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.note.warning {
  border-left-color: var(--red);
  background: #fbdad7;
}

table + .note {
  margin-top: 1.5rem;
}
