<footer class="footer">
  <section class="container">
    <layout-columns class="columns">
      <layout-column class="column is-5">
        <img-container class="ruby2js-logo">{% svg images/ruby2js.svg %}</img-container>

        <h4>
          <strong>Ruby2JS</strong> is an extensible Ruby to modern JavaScript transpiler.
        </h4>

        <p class="mt-6 is-size-7">
          Source code licensed <a href="https://opensource.org/licenses/mit-license.php" target="_blank" rel="noopener">MIT</a>
          <br>
          Website content licensed <a rel="license noopener" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a><br/>
          Powered by the Ruby static site generator <a href="https://www.bridgetownrb.com" reol="noopener" target="_blank">Bridgetown</a>
        </p>

      </layout-column>
      <layout-column class="column is-4">
        <h4 style="margin-top: 2.2rem">
          <strong>Contribute</strong> on GitHub
        </h4>

        <p class="mt-6">
          <a href="https://github.com/{{ metadata.github }}/issues">Browse Issues</a><br/>
          <a href="https://github.com/{{ metadata.github }}/pulls">Submit a Pull Request</a>
        </p>

        <p class="mt-3">
          <a href="https://github.com/bridgetownrb/bridgetown/discussions">Discussions on GitHub</a>
        </p>

        <p class="mt-6">
          Brought to you by <a href="https://github.com/rubys" target="_blank" rel="noopener">Sam Ruby</a><br/>and <a href="https://github.com/jaredcwhite"  target="_blank" rel="noopener">Jared White</a>
        </p>
      </layout-column>
      <layout-column class="column is-3">
        <h4 style="margin-top: 2.2rem">
          <strong>Share</strong> on Social Media
        </h4>

        <p class="mt-6">
          <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fruby2js.com&text=TIL%20you%20can%20write%20Ruby%20frontend%20code%20and%20transpile%20it%20to%20modern%20JavaScript.%20Even%20works%20with%20Webpack.%20Way%20cool!&hashtags=Ruby2JS%2CRuby" class="button is-info" rel="noopener">
            <ui-icon class="icon"> <sl-icon name="twitter"></sl-icon> </ui-icon>
            <ui-label class="has-text-weight-bold">Tweet</ui-label>
          </a>
        </p>

        <p class="mt-6 is-size-7">
          Use hashtag <strong>#Ruby2JS</strong> <br/>and spread the word! 😃
        </p>

        <p class="mt-8">
          <a href="/feed.xml" class="button is-warning is-small">
            <ui-icon class="icon"> <sl-icon name="rss"></sl-icon> </ui-icon>
            <ui-label class="has-text-weight-bold">News Feed</ui-label>
          </a>
        </p>
      </layout-column>
    </layout-columns>

    <p class="mt-12 has-text-centered">
      <strong style="opacity:.7">we</strong>
      <img src="/images/ruby.svg" alt="Ruby" style="height: 1.5rem;vertical-align:middle;margin: 0 0.5rem" loading="lazy" />
      <strong style="opacity:.7">ruby</strong>
    </p>
  </section>
</footer>
