<h1>Articles</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p><%= truncate(article.body, length: 100) %></p>
    <p class="meta">Created: <%= article.created_at %></p>
  </div>
<% end %>

<p><%= link_to "New Article", new_article_path %></p>
