<h1>Articles</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h2><a onclick="navigate('/articles/<%= article.id %>')"><%= article.title %></a></h2>
    <p><%= (article.body || '')[0, 150] %>...</p>
    <p class="meta">Created: <%= article.created_at %></p>
  </div>
<% end %>

<p><a onclick="navigate('/articles/new')">New Article</a></p>
